
<div class="d-flex flex-wrap justify-content-between align-items-center py-4 px-5 border-top bg-secondary">
    <div class="col">
        <a class="d-flex" href="http://www.udenar.edu.co">
          <img src="../assets/Udenar.png" alt="Udenar">
        </a>
    </div>
    <div class="col ml-4"></div>
    <div class="col"></div>
    <div class="col">
        <p style="color: white; text-align: right;" class="m-auto">
            Sección de Soporte IIT
            <br>
            Bloque Tecnologico tercer piso
            <br>
            Torobajo - Calle 18 Carrera 50
        </p>
    </div>
</div>